.data_block{

  section.data{
    padding: 1.5em;
    margin: 1em;
    width: 300px;
    height: 300px;

    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    background-color: white;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    border-radius: 8px;

    h2{
      font-size: 25px;
    }
    p{
      font-size: 17px;
    }

    #data_circle{
      font-family: 'Montserrat', sans-serif;
      h2{
        font-family: 'Montserrat', sans-serif;
        font-size: 65px;
        font-weight: 500;

        padding: 0;
        margin: 0;
      }
    }

    #data_circle.red{
      color: #F3A188;
    }
    #data_circle.blue{
      color: #9BD2DE;
    }
    #data_circle.green{
      color: #98D163;
    }

  }
}
